<ion-modal-view id="baoguangjisuanview">

  <ion-header-bar class="bar-subheader bar-positive">
    <div class="buttons">
      <button class="button button-positive" ng-click="closeModal()">取消</button>
    </div>
    <h1 class="title">曝光计算</h1>

    <div class="buttons">
      <button class="button button-positive" ng-click="saveAndCloseModal()">确定</button>
    </div>

  </ion-header-bar>

  <ion-content ng-controller="BaoguangCtrl">
    <div class="list">
      <a class="item item-input">
        <span class="input-label">实际焦距</span>
        <input type="number" class="text-right" ng-readonly="true" ng-model="baoGuangLiang.shiJiJiaoJu" value="0"/>
      </a>
      <a class="item item-input">
        <span class="input-label">透照厚度</span>
        <input type="number" class="text-right" ng-readonly="true" ng-model="baoGuangLiang.touZhaoHouDu" value="0"/>
      </a>
      <a class="item item-input">
        <span class="input-label">放射源</span>

        <input type="text" class="text-right" ng-readonly="true" ng-model="baoGuangLiang.fangSheYuanType" value="0"/>
      </a>
      <a class="item item-input item-select">
        <div class="input-label">
          胶片品牌
        </div>

        <select ng-model="baoGuangLiang.jiaoJuanPinPaiIdx" ng-change="onChangeJiaoPianPinPai()">
          <option ng-repeat="jiaoPian in baoGuangOpt.jiaoPian" value="{{$index}}" ng-selected="$index==baoGuangLiang.jiaoJuanPinPaiIdx">{{jiaoPian.name}}</option>
        </select>

      </a>
      <a class="item item-input item-select">
        <div class="input-label">
          胶片型号
        </div>
        <select ng-model="baoGuangLiang.jiaoJuanXingHaoIdx" ng-init="" ng-change="onJiaoPianXingHaoChange()">
          <option ng-repeat="jiaoPianXingHao in baoGuangLiang.jiaoJuanXingHaoList" value="{{$index}}" ng-selected="$index==baoGuangLiang.jiaoJuanXingHaoIdx">
            {{jiaoPianXingHao.name}}
          </option>
        </select>
      </a>

      <a class="item item-input">
        <span class="input-label">照片修正系数</span>
        <input type="number" class="text-right" ng-model="baoGuangLiang.jiaoPianXiuZhengXiShu"
               ng-blur="onJiaoPianXiuZhengXiShuChange()"/>
      </a>

      <a class="item item-input">
        <span class="input-label">曝光量</span>
        <input ng-model="baoGuangLiang.baoGuangLiang" type="number" class="text-right" ng-readonly="true" value="0"/>
      </a>
    </div>

  </ion-content>
</ion-modal-view>
