<ion-view view-title="工艺制定" class="">
  <ion-content>
    <div class="list">

      <a class="item item-icon-right" href="#">
        板状工件流程
        <i class="icon ion-android-add"></i>
      </a> <a class="item item-icon-right" href="#">
      小口径管工件流程
      <i class="icon ion-android-add"></i>
    </a> <a class="item item-icon-right" href="#">
      中口径管工件流程
      <i class="icon ion-android-add"></i>
    </a>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/gongyi/banzhuang">Scientific Facts</a>

    </div>

  </ion-content>
</ion-view>
