<ion-view view-title="参数计算">
  <ion-content>
    <div class="list">

      <a class="item item-button-right" href="#/tab/canshu/touzhaohoudu">
        <span style="color:black"><b>透照厚度计算</b> </span>
        <botton class="button button-positive button-small">计算</botton>
      </a>
      <a class="item item-button-right" href="#/tab/canshu/zuixiaojiaoju">
        <span style="color:black"><b>最小焦距计算</b> </span>
        <botton class="button button-positive button-small">计算</botton>
      </a>
      <a class="item item-button-right" href="#/tab/canshu/jihebuqingxidu">
        <span style="color:black"><b>几何不清晰度计算</b> </span>
        <botton class="button button-positive button-small">计算</botton>
      </a>
      <a class="item item-button-right" href="#/tab/canshu/shexianyuanqiangdu">
        <span style="color:black"><b>射线源强度计算</b> </span>
        <botton class="button button-positive button-small">计算</botton>
      </a>
      <a class="item item-button-right" href="#/tab/canshu/huyidinglv">
        <span style="color:black"><b>互易定律计算</b> </span>
        <botton class="button button-positive button-small">计算</botton>
      </a>
      <a class="item item-button-right" href="#/tab/canshu/pingyijuli">
        <span style="color:black"><b>平移距离计算</b> </span>
        <botton class="button button-positive button-small">计算</botton>
      </a>
    </div>
  </ion-content>
</ion-view>
