<ion-view view-title="配置">
  <ion-content>
    <div class="list">

      <a class="item item-button-right" href="#/tab/peizhi/fangsheyuanpeizhi">
        放射源配置
        <button class="button button-positive">
          配置
        </button>
      </a>

      <a class="item item-button-right">
        软件信息
        <button class="button button-positive" ng-click="showSoftware()">
          查看
        </button>
      </a>
      <a class="item item-button-right">
        联系我们
        <button class="button button-positive" ng-click="showAboutUs()">
          查看
        </button>
      </a>


    </div>

  </ion-content>
</ion-view>
