<ion-view view-title="工艺制定" class="">
    <ion-content>
        <div class="list">

            <a class="item item-button-right" href="#/tab/gongyi/banzhuang">

            板状工件流程
            <button class="button button-positive">
                新增
            </button>
            </a>
            <a class="item item-button-right" >
                小口径管工件流程
                <button class="button button-positive" ng-click="showUnderConstructionAlert()">
                    新增
                </button>
            </a> <a class="item item-button-right" ng-click="showUnderConstructionAlert()">
            中口径管工件流程
            <button class="button button-positive">
                新增
            </button>
        </a>


        </div>

    </ion-content>
</ion-view>
