<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="工艺制定" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/gongyi">
    <ion-nav-view name="tab-gongyi"></ion-nav-view>
  </ion-tab>
  <!-- 参数计算 Tab -->
  <ion-tab title="参数计算" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/canshu">
    <ion-nav-view name="tab-canshu"></ion-nav-view>
  </ion-tab>
  <!-- 历史记录 Tab -->
  <ion-tab title="历史记录" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch" href="#/tab/lishi">
    <ion-nav-view name="tab-lishi"></ion-nav-view>
  </ion-tab>
  <!-- 知识查阅 Tab -->
  <ion-tab title="知识查阅" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/zhishi">
    <ion-nav-view name="tab-zhishi"></ion-nav-view>
  </ion-tab>
  <!-- 配置 Tab -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/peizhi">
    <ion-nav-view name="tab-peizhi"></ion-nav-view>
  </ion-tab>


</ion-tabs>
