<ion-view view-title="放射源配置" ng-controller="FangSheYuanCtrl">


  <ion-header-bar class="bar-subheader bar-balanced">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
              ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <h1 class="title"></h1>

    <div class="buttons">
      <button class="button button-icon icon ion-ios-plus-outline" ng-click="openModal()"
        ></button>
    </div>
  </ion-header-bar>
  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
  <ion-content>
    <ion-list show-delete="data.showDelete">

      <ion-item ng-repeat="item in fangSheYuanList"
                item="item"
                class="item-remove-animate">
        <div class="row">
          <div class="col-50">

            <p><b>序号：</b>&nbsp;&nbsp;&nbsp; {{ $index+1 }}</p>
          </div>
          <div class="col-50">

            <p><b>编号：</b>&nbsp;&nbsp;&nbsp; {{ item.id }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <p><b>类型：</b>&nbsp;&nbsp;&nbsp; {{ item.type }}</p>
          </div>
          <div class="col-50">

            <p><b>容器编号：&nbsp;&nbsp;&nbsp;</b> {{ item.rongQi }} <a style="color:grey" ng-click="editRongQi({{$index}})">(修改)</a></p>


          </div>
        </div>

        <div class="row">
          <p><b>起始居里日期</b>：&nbsp; {{ item.date}}</p>
        </div>
        <div class="row">
          <p><b>起始居里强度：</b>&nbsp; {{ item.power}}</p>
        </div>
        <div class="row">
          <div class="item-text-wrapper">
          <p><b>当前居里强度：</b>&nbsp; {{item.curPower.toString()}}&nbsp; </p></div>
        </div>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="onItemDelete(item)">
        </ion-delete-button>

        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
