<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">公司地址</span>

    <h3>杭州市拱墅区马家桥126号</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">邮政编号</span>

    <h3>310015</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">联系电话</span>
    <div class="row">
      <div class="col-75">
    <h3>0571-51214658</h3></div>
    </div>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">传真</span>

    <h3>0571-51214602</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">网址</span>

    <h3>http://www.zjndt.com</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">email</span>

    <h3>zjndtsoftware@126.com</h3>
  </label>
</div>

