<ion-view view-title="放射源配置" ng-controller="FangSheYuanCtrl">


  <ion-header-bar class="bar-subheader bar-balanced">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
              ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <h1 class="title"></h1>

    <div class="buttons">
      <button class="button button-icon icon ion-ios-plus-outline" ng-click="openModal()"
        ></button>
    </div>
  </ion-header-bar>
  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
  <ion-content>
    <div class="item item-avatar">
      <img src="avatar.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </div>

    <div class="item item-image">
      <img src="img/address.jpg">
    </div>

    <a class="item item-icon-left assertive" href="#">
      <i class="icon ion-music-note"></i>
      Start listening
    </a>

  </ion-content>
</ion-view>
