<div class="list list-inset">
  <select style="width:100%" class="item item-input-inset" ng-model="search.type" ng-init="all" value="all">
    <option value="all">全部</option>
    <option value="banzhuang">板状工艺工艺</option>
    <option value="xiaojinguan">小口径管工艺</option>
    <option value="zhongkoujing">中口径管工艺</option>
  </select>
  <label class="item item-input">
    <input type="number" placeholder="公称厚度" ng-model="search.gongChengHouDu">
  </label>
  <label class="item item-input">
    <input type="number" placeholder="外径" ng-model="search.waiJing">
  </label>
</div>

