<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">开发标准</span>

    <h3>NB/T 47013.2-2015</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">开发日期</span>

    <h3>2015年11月</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">版本号</span>

    <h3>Ver 1.0 (iOS)</h3>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">开发单位</span>

    <h3>浙江无损检测工程技术有限公司</h3>
  </label>
</div>
