<div class="list">

  <label class="item item-radio">
    <input type="radio" name="group">

    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">

    <div class="item-content">
      Go2
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">

    <div class="item-content">
      Go2
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-input">
    <input class="text-right" type="number"/>

  </label>


</div>

