<ion-view view-title="板状工件工艺">
    <ion-content scroll="true" scrollbar-y="true">

        <div class="list">
            <a class="item item-input">
                <span class="input-label">公称厚度(CM)</span>
                <input type="text" class="text-right" placeholder="0"/>
            </a>
            <a class="item item-input item-select">
                <div class="input-label">
                    透照方式
                </div>
                <select>
                    <option>单壁单影</option>
                </select>
            </a>
            <a class="item item-input item-select">
                <div class="input-label">
                    透照等级
                </div>
                <select>
                    <option>A</option>
                    <option selected>AB</option>
                    <option>B</option>
                </select>
            </a>
            <a class="item item-input">
                <span class="input-label">透照厚度(CM)</span>
                <input type="text" class="text-right" placeholder="0"/>
            </a>
            <a class="item item-input">
                <span class="input-label">最小焦距(CM)</span>
                <input type="text" class="text-right" placeholder="0"/>
            </a>
            <a class="item item-input">
                <span class="input-label">实际焦距(CM)</span>
                <input type="text" class="text-right" placeholder="0"/>
            </a>
            <a class="item item-input">
                <span class="input-label">一次透照长度</span>
                <input type="text" class="text-right" placeholder="0"/>
            </a>

            <a class="item item-button-right">
                曝光量计算
                <button class="button button-positive" ng-click="openModal()">
                    计算
                </button>
            </a>
            <a>
                <div class="card">
                    <div class="item item-text-wrap">
                        曝光量参数
                    </div>
                </div>
            </a>
            <a class="item item-input">
                <span class="input-label">源强度</span>
                <input type="text" class="text-right" placeholder="0"/>
            </a>
            <a class="item item-input">
                曝光时间
                <span type="input-label"></span>
            </a>
        </div>

    </ion-content>
</ion-view>
